// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// Custom CSS 

.text-white{
  color: #FFF;
}
.img-small{
  width: 300px !important;
  padding-top: 20px;
}
.img-smaller{
  width: 500px !important;
  padding-top: 20px;
}

h4,p {
  padding: 0px 20px;
}
p{
  width: 500px;
  margin: 0 auto;
}
span{
  font-weight: bold;
}

.hero--blue{
  background: linear-gradient(to right,#0072ff,#00c6ff);
}
.hero--grey{
  background: #f2f2f2;
}
.hero--white{
  background: #FFF;
}
.hero--hero{
  background:url('../assets/img/hero.jpg');
  background-size: auto 100%;
}

.dots{
  list-style: none;
  li{
    margin-bottom: 20px;
  }
  img{
    width: 30px !important;
    display: inline-block;
    margin-left: -23px;
    margin-right: 10px;
    padding: 0;
    vertical-align: middle;
  }
}
.orange-cta{
    color: #fff;
    width: 475px;
    padding: 15px;
    background-color: #fc4a1a;
    background-image: linear-gradient(45deg,#f7c733 0,#fc4a1a 100%);
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    td{
      background-color: none;
      border: none;
    }
    &:hover{
      color: #FFF;
    }
}

.no-padding{
  padding-bottom: 0 !important;
}
